{% extends 'base.html.twig' %}

{% block title %}Hello DownloadController!{% endblock %}

{% block body %}

    <div class="news-area">
        <h2>Descargas</h2>

        <div class="col-12">
            <table class="download-area">
                <tr class="dark">
                    <th>Archivo<th>
                    <th>Tamaño<th>
                    <th>Fecha<th>
                    <th>Enlace<th>
                </tr>
                <tr style="height:2px;"></tr>
                <tr>
                    <td>Cliente (MEGA)<td>
                    <td>1.72 GB<td>
                    <td>07-02-2019<td>
                    <td><a href="#"><i class="fas fa-download"></i></a><td>
                </tr>
                <tr>
                    <td>AutoPatcher (Direct)<td>
                    <td>485 KB<td>
                    <td>07-02-2019<td>
                    <td><a href="#"><i class="fas fa-download"></i></a><td>
                </tr>
            </table>
        </div>
        <div class="download-req row mt-4">
            <div class="col-6 pr-0 pl-4">
                <h4>Requisitos mínimos</h4>
                <ul>
                    <li>Sistema Operativo: Windows Vista, 7</li>
                    <li>Procesador: Pentium 3 1.5 GHz</li>
                    <li>RAM: 512 MB</li>
                    <li>Tarjeta Gráfica: Min. 64 MB</li>
                    <li>Almacenamiento libre: 1,5 GB</li>
                </ul>
            </div>
            <div class="col-6 pl-0 pr-4">
                <h4>Requisitos recomendables</h4>
                <ul>
                    <li>Sistema Operativo: Windows Vista, 7</li>
                    <li>Procesador: Pentium 4 2 GHz</li>
                    <li>RAM: 1,5 GB</li>
                    <li>Tarjeta Gráfica: Min. 256 MB</li>
                    <li>Almacenamiento libre: 2 GB</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
